<div class="jumbotron">
    <h1>Welcome to Videoclub</h1>
    <p>The place to find all the movies in the world</p>
    <p><a href="#" class="btn btn-primary btn-lg" role"button">Learn more</a></p>
</div>
